*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: url(1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container-main{
    max-width: 100%;
    height: 3500px;
}
/* começo cabeçalho */
header{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100px;
    border: 1px solid red;
    padding: 80px;
}
nav{
    width: 75%;
    height: 57px;
    display: flex;
    justify-content: end;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
}
.logo{
    width: 300px;
    color: #F0CB46;
    font-size: 300%;
    border: 1px solid ;
} 
.logo:hover{
    transition: 1s;
    scale: 1.05;
}
.paginas{
    margin-right: 50px;
    font-size: 200%;
    color: white;
}
.paginas:hover{
    transition: 1s;
    color: #F0CB46;
}
/* fim cabeçalho */
/* começo decoração cabeçalho */

.linha-horizontal{
    position: absolute;
    display: flex;
    left: 50px;
    top: 135px;
    height: 2px;
    max-width: 100%;
    
}
.linha-h1{
    background-color: white;
    width: 1700px;
    margin-right: 1%;
}
.linha-h2{
    background-color: white;
    width: 40px;
    margin-right: 1%;
}
.linha-h3{
    background-color: white;
    width: 40px;
    margin-right: 1%;
}

.linha-vertical{
    position: absolute;
    top: 170px;
    left: 90%;
    width: 2px;
}
.linha-v1{
    margin: -140px 0px 0px 0px;
    background-color: white;
    height:700px;
}
.linha-v2{
    margin: 30px 0px 0px 0px;
    background-color: white;
    height: 40px;
}
.linha-v3{
    margin: 30px 0px 0px 0px;
    background-color: white;
    height: 40px;
}
.linha-v4{
    margin: 30px 0px 0px 0px;
    background-color: white;
    height: 40px;
}
.linha-v5{
    margin: 30px 0px 0px 0px;
    background-color: white;
    width: 40px;
}

/* fim decoração cabeçalho */
/* começo conteudo 1 */

.img-conteudo1{
    position: absolute;
    width: 600px;
    display: flex;
    top: 25%;
    left: 10%;
}
.img-cont11{
    position: absolute;
    background-color: #ffc800;
    filter: blur(200px);
    height: 600px;
    width: 100%;
    border-radius: 50%;
    z-index: -2;
}
.img-cont12{
    background-color: #ffc800c0;
    height: 550px;
    width: 100%;
    border-radius: 50%;
    filter: drop-shadow(-40px 40px 10px );
    z-index: -1;
    position: absolute;
}
.img-cont13{
    position: absolute;
    left: 100px;
    z-index: 1;
}
.imagem-1{
    width: 140%;
    border: 1px solid;
}
.img-cont14{
    position: absolute;
    top: 200px;
    color: #F0CB46;
    font-size: 1600%;
    z-index: 2;
    border: 1px solid;
}
.img-cont15{
    position: absolute;
    left: 130px;
    top: -80px;
    z-index: 3;
    
}
/* começo imagem conteudo 1 */
/* começo texto conteudo 1 */
.texto-conteudo1{
    color: white;
    border: 1px solid white;
    position: absolute;
    top: 30%;
    left: 45%;
    right: 15%;
    padding-bottom: 10%;
}
.textos-cont11{
    font-size: 30px;
    margin-bottom: 30px;
    text-shadow: -5px 5px 1px black;
}
.textos-cont12{
    font-size: 20px;
    margin-bottom: 20px;
    text-shadow: -5px 5px 1px black;
}
.textos-cont13{
    font-size: 20px;
    text-shadow: 3px 3px 1px black;
}
/* fim texto conteudo 1 */
/* fim conteudo 1 */
/* começo conteudo 2 */
.texto-conteudo2{
    position: absolute;
    top: 900px;
    left: 200px;
    right: 200px;
    font-size: 200%;
    color: white;
    border: 1px solid white;
}
.textos-cont21{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 300%;
    text-shadow: -5px 5px 1px black;
}
/* fim conteudo 2 */
/* começo conteudo 3 */
/* começo texto conteudo 3 */
.texto-conteudo31{
    position: absolute;
    top: 1650px;
    left: 100px;
    color: white;
    width: 700px;
    border: 1px solid white;
    font-size: 150%;
}
.texto-cont32{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 200%;
    text-shadow: -5px 5px 1px black;
}
.texto-cont33{
    font-size: 120%;
}
.texto-cont34{
    margin-bottom: 40px;
}
/* fim texto conteudo 3 */
/* começo imagens conteudo 3 */
.img-conteudo3{
    position: absolute;
    top: 1650px;
    left: 850px;
}
.img-cont31{
    position: absolute;
    left: 200px;
    background-color: white;
    width:600px ;
    height: 600px;
    border-radius: 50%;
}
.img-cont32{
    position: absolute;
    left: 50px;
    background-color: rgb(87, 87, 87);
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.img-cont33{
    position: absolute;
    left: 600px;
    top: 300px;
    background-color: rgb(173, 173, 173);
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
/* fim imagens conteudo 3 */
/* fim conteudo 3 */
/* começo conteudo 4 */
/* começo formas conteudo 4 */
.texto-conteudo4{
    position: absolute;
    top: 2450px;
    left: 300px;
}
.img-conteudo4{
    display: flex;
}
.img-cont41{
    position: absolute;
    background-color: rgba(81, 56, 223, 0.253);
    filter: drop-shadow(-30px 30px 30px);
    width: 700px;
    height: 900px;
    border: 1px solid white;
}
 .img-cont42{
    position: absolute;
    top:230px;
    left: 550px;
    background-color: rgb(56, 77, 148);
    filter: drop-shadow(30px 30px);
    width: 700px;
    height: 500px;
    border: 1px solid white;
}
.img-cont43{
    position: absolute;
    top: 230px;
    left: 80px;
    background-color: rgba(88, 53, 128, 0.349);
    filter: drop-shadow(-5px 5px 10px);
    height: 250px;
    width: 180px;
    border: 1px solid white;
}
/* fim formas conteudo 4 */
/* começo textos conteudo 4 */
.texto-cont41{
    font-size: 500%;
    position: absolute;
    left: 800px;
    color: white;
    border: 1px solid;
}
.texto-cont42{
    font-size: 150%;
    color: white;
    position: absolute;
    top: 600px;
    left: 100px;
    right: 150px;
    border: 1px solid;
}
.texto-cont43{ 
    font-size: 180%;
    color: white;
    position: absolute;  
    left: 100px;
    top: 100px;
    right: 100px;
    border: 1px solid;
}
.texto-cont44{
    color: white;
    font-size: 120%;
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    border: 1px solid;

}
/* fim texto conteudo 4 */
/* fim conteudo 4 */