*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: url(/extra/img/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.container-main{
    max-width: 100%;
    height: 100%;
}



/* começo cabeçalho */
header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 15vh;
    padding: 3%;
}
nav{
    width: 75%;
    height: 6vh;
    display: flex;
    justify-content: end;
    align-items: center;
}
.logo{
    width: 15%;
    height: 6vh;
    color: #F0CB46;
    font-size: 5vh;
} 
.logo:hover{
    transition: 1s;
    scale: 1.05;
}
.paginas{
    margin-right: 4%;
    font-size: 4vh;
    color: white;
}
.paginas:hover{
    transition: 1s;
    color: #F0CB46;
}
/* fim cabeçalho */



/* começo decoração cabeçalho */

.linha-horizontal{
    position: absolute;
    display: flex;
    margin-left: 3%;
    top: 15%;
    height: 0.3vh;
    width: 97%;
}
.linha-h1{
    background-color: white;
    width: 92%;
}
.linha-h2{
    background-color: white;
    width: 2%;
    margin-left: 1%;
}


.linha-vertical{
    position: absolute;
    top: 5%;
    left: 90%;
    height: 100%;
    width: 0.3vh;
}
.linha-v1{
    background-color: white;
    height:90%;
}
.linha-v2{
    margin-top: 2vh;
    background-color: white;
    height: 5%;
}

/* fim decoração cabeçalho */
/* começo decoraçao fundo luzes */
/* .decor-fundo1{
    position: absolute;
    top: 200px;
    right: -300px;
    background-color: #003A79;
    filter: blur(200px);
    height: 600px;
    width: 600px;
    border-radius: 50%;
    z-index: -3;
}
.decor-fundo2{
    position: absolute;
    top: 1200px;
    left: -300px;
    background-color: #003A79;
    filter: blur(200px);
    height: 600px;
    width: 600px;
    border-radius: 50%;
    z-index: -3;
}
.decor-fundo3{
    position: absolute;
    top: 2100px;
    left: -300px;
    background-color: #003A79;
    filter: blur(200px);
    height: 600px;
    width: 600px;
    border-radius: 50%;
    z-index: -3;
}
.decor-fundo4{
    position: absolute;
    top: 2900px;
    right: -300px;
    background-color: #003A79;
    filter: blur(200px);
    height: 600px;
    width: 600px;
    border-radius: 50%;
    z-index: -3;
}
.decor-fundo5{
    position: absolute;
    top: 1900px;
    right: -300px;
    background-color: #FFC800;
    filter: blur(250px);
    height: 600px;
    width: 600px;
    border-radius: 50%;
    z-index: -3;
}
.decor-fundo6{
    position: absolute;
    top: 3600px;
    right: -400px;
    background-color: #ffc800;
    filter: blur(250px);
    height: 600px;
    width: 600px;
    border-radius: 50%;
    z-index: -3;
}
.decor-fundo7{
    position: absolute;
    top: 3600px;
    left: -400px;
    background-color: #ffc800;
    filter: blur(250px);
    height: 600px;
    width: 600px;
    border-radius: 50%;
    z-index: -3;
} */
/* fim decoraçao fundo luzes */
/* começo conteudo 1 */

.conteudo-1{
    margin-top: 10vh;
    width: 100%;
    height: 70vh;
    display: flex;
}
.conteudo-1-container-1{
    height: 100%;
    width: 30%;
    margin-left: 10%;
    margin-right: 5%;
}
.container-1-imagem-1{
    position: absolute;
    background-color: #ffc800;
    filter: blur(20vh);
    height: 70%;
    width: 30%;
    border-radius: 50%;
    z-index: -2;
}
.container-1-imagem-2{
    position: absolute;
    background-color: #ffc800c0;
    height: 60%;
    width: 30%;
    border-radius: 50%;
    filter: drop-shadow(-4vh 4vh 2vh );
    z-index: -1;
}
.container-1-imagem-3{
    position: absolute;
    left: 14%;
    top: 28vh;
    width: 23vh;
    z-index: 1;
}
.container-1-imagem-4{
    position: absolute;
    top: 50vh;
    color: #F0CB46;
    font-size: 29vh;
    filter: drop-shadow( -1vh 1vh 1vh black);
    z-index: 2;
}
.container-1-imagem-5{
    position: absolute;
    top: 20vh;
    left: 18%;
    width: 23vh;
    z-index: 3;
}
.container-1-edit-imagem{
    width: 150%;
} 
.container-1-botao{
    position: absolute;
    right: 2%;
    top: 40%;
    width: 10vh;
    height: 15vh;
    background-color: #ccc;
    clip-path: polygon(0 0, 0 100%, 50% 50%);
    z-index: 1;
}
.container-1-botao:hover{
    transition: .5s;
    background-color: #949494;
}

/* começo imagem conteudo 1 */
/* começo texto conteudo 1 */
.conteudo-1-container-2{
    width: 40%;
}
.container-2-texto{
    color: white;
    padding: 10%;
}
.container-2-texto-1{
    font-size: 4vh;
    margin-bottom: 1vh;
    text-shadow: -1vh 1vh 0.5vh black;
}
.container-2-texto-2{
    font-size: 3vh;
    margin-bottom: 4vh;
    text-shadow: -0.5vh 0.5vh 0.5vh black;
}

/* fim texto conteudo 1 */
/* fim conteudo 1 */



/* começo conteudo 2 */
.conteudo-2{
    margin-top: 10vh;
    font-size: 200%;
    color: white;
}
.conteudo-2-texto-1{
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
    font-size: 10vh;
    text-shadow: -0.8vh 0.8vh black;
}
.conteudo-2-texto-2{
    margin: 0vh 23vh;
    font-size: 4vh;
}
/* fim conteudo 2 */



/* começo conteudo 3 */
/* começo texto conteudo 3 */
.conteudo-3{
    margin-top: 10vh;
    color: white;
    width: 100%;
    height: 80vh;
    font-size: 150%;
    display: flex;
}
.conteudo-3-texto{
    width: 45%;
    padding: 3%;
    padding-top: 0;
}
.conteudo-3-texto-1{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 7vh;
    margin-bottom: 5vh;
    text-shadow: -0.8vh 0.8vh 0.3vh black;
}
.conteudo-3-texto-2{
    
    font-size: 4vh;
    margin-bottom: 3vh;
}
/* fim texto conteudo 3 */
/* começo imagens conteudo 3 */
.conteudo-3-imagem{
    width: 55%;
    margin: 5% 0%;
}
.conteudo-3-imagem-1{
    position: absolute;
    left: 56%;
    background-color: white;
    width:60vh;
    height: 60vh;
    border-radius: 50%;
}
.conteudo-3-imagem-2{
    position: absolute;
    left: 48%;
    background-color: rgb(87, 87, 87);
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
}
.conteudo-3-imagem-3{
    position: absolute;
    top: 240vh;
    left: 78%;
    background-color: rgb(173, 173, 173);
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
}
/* fim imagens conteudo 3 */
/* fim conteudo 3 */



/* começo conteudo 4 */
/* começo formas conteudo 4 */
.conteudo-4{
    margin-top: 10vh;
}
.conteudo-4-elemento-1{
    width: 40%;
    margin-left: 10%;
    display: flex;
}
.conteudo-4-forma-1{
    background-color: rgb(43, 37, 80);
    filter: drop-shadow(-3vh 3vh 0.5vh rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 100vh;
}
.conteudo-4-elemento-2{
    position: absolute;
    margin-top: -40%;
    left: 45%;
    width: 45%;
}
 .conteudo-4-forma-2{
    background-color: rgb(56, 77, 148);
    filter: drop-shadow(3vh 3vh );
    width: 100%;
    height: 50vh;
}
.conteudo-4-elemento-3{
    position: absolute;
    margin-top: -45%;
    left: 15%;
    width: 20vh;
    height: 27vh;
}
.conteudo-4-formas-3{
    background-color: rgb(60, 13, 114);
    filter: drop-shadow(-2vh 2vh 1vh rgba(0, 0, 0, 0.5));
    height: 100%;
    width: 100%;
}
/* fim formas conteudo 4 */
/* começo textos conteudo 4 */
.conteudo-4-titulo{
    font-size: 7vh;
    filter: drop-shadow(-1.3vh 1.3vh 0.2vh black);
    position: absolute;
    margin-top: 2%;
    left: 55%;
    width: 40%;
    color: white;
}
.conteudo-4-texto-1{
    font-size: 2.6vh;
    color: white;
    width: 100%;
    height: 100vh;
    padding: 10%;
    display: flex;
    align-items: end;
}
.conteudo-4-texto-2{ 
    font-size: 3.5vh;
    color: white;
    width: 100%;
    height: 50vh;
    padding: 10%;
}
.conteudo-4-texto-3{
    color: white;
    font-size: 2vh;
    padding: 10%;

}
/* fim texto conteudo 4 */
/* fim conteudo 4 */



/* começo conteudo 5 */
.conteudo-5{
    margin-top: 10vh;
    width: 100%;
    height: 161vh;
}
/* começo conteudo 5-1 */
.conteudo-5-1{
    position: absolute;
    width: 100%;
    height: 60vh;
}
/* começo elementos 1 */
.conteudo-5-elemento-1{
    width: 40%;
    height: 20%;
    position: absolute;
    left: 85vh;
    top: 7vh;
}
.conteudo-5-linhas{
    width: 100%;
    height: 100%; 
}
.conteudo5-linha-1-1{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 85%;
    height: 2%;
    background-color: white;
}
.conteudo5-linha-1-2{
    margin-left:30%;
    width: 70%;
    height: 20vh;
    border-radius: 0vh 10vh 0vh 0vh;
    border: 0.5vh solid rgb(255, 255, 255);
    border-bottom: none;
    border-left: none; 
}
/* fim elementos 1 */

/* começo elementos 2 */
.conteudo-5-elemento-2{
    width: 30%;
    height: 16%;
    position: absolute;
    left: 10vh;
    top: 10vh;
}
.conteudo-5-imagems{
    display: flex;
}
.conteudo-5-imagem-1{
    background-color: white;
    width: 18vh;
    height: 24vh;
    border-radius: 3vh;
    border: 1vh solid #ccc;
}
.conteudo-5-decoração-imagem-1{
    background-color: #ccc;
    width: 5vh;
    height: 14vh;
    clip-path: polygon(0 0, 20% 20%, 40% 30%, 60% 30%, 80% 20%, 100% 0, 100% 100%, 80% 80%, 60% 70%, 40% 70%, 20% 80%, 0 100%);
    margin-top: 7vh;
}
/* fim elemento2 */
/* começo elementos3 */
.conteudo-5-elemento-3{
    width: 15%;
    height: 5%;
    color: white;
    font-size: 8vh;
    position: absolute;
    left: 73vh;
    top: 10vh;
}
/* fim elementos3 */
/* começo elemento 4 */
.conteudo-5-elemento-4{
    width: 70%;
    height: 18.2%;
    display: flex;
    position: absolute;
    left: 15vh;
    top: 20vh;
    z-index: -1;
}
.conteudo-5-quadrado-1{
    background-color: #5A5B77;
    border-radius: 6vh;
    width: 140vh;
    height: 25vh;
}
.conteudo-5-texto-quadrado-1{
    color: white;
    font-size: 3.5vh;
    position: absolute;
    left: 58vh;
    top: 5vh;
}
/* fim elemento 4 */
/* fim  conteudo 5-1 */



/* começo do conteudo 5-2 */
.conteudo-5-2{
    position: absolute;
    top: 460vh;
    width: 100%;
    height: 60vh;
}
/* começo elementos 1 */
.conteudo-5-elemento-2-1{
    width: 40%;
    height: 20%;
    position: absolute;
    left: 15vh;
    top: 7vh;
}
.conteudo-5-linhas-2{
    width: 100%;
    height: 100%; 
}
.conteudo5-linha-2-1{
    margin-left:40%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 85%;
    height: 2%;
    background-color: white;
}
.conteudo5-linha-2-2{
    margin-left:25%;
    width: 80%;
    height: 20vh;
    border-radius: 10vh 0vh 0vh 0vh;
    border: 0.5vh solid rgb(255, 255, 255);
    border-bottom: none;
    border-right: none; 
}
/* fim elementos 1 */

/* começo elementos 2 */
.conteudo-5-elemento-2-2{
    width: 30%;
    height: 16%;
    position: absolute;
    left: 65%;
    top: 10vh;
}
.conteudo-5-imagems-2{
    display: flex;
}
.conteudo-5-imagem-2-1{
    background-color: white;
    width: 18vh;
    height: 24vh;
    border-radius: 3vh;
    border: 1vh solid #ccc;
}
.conteudo-5-decoração-imagem-2-1{
    background-color: #ccc;
    width: 5vh;
    height: 14vh;
    clip-path: polygon(0 0, 20% 20%, 40% 30%, 60% 30%, 80% 20%, 100% 0, 100% 100%, 80% 80%, 60% 70%, 40% 70%, 20% 80%, 0 100%);
    margin-top: 7vh;
}
/* fim elemento2 */

/* começo elementos3 */
.conteudo-5-elemento-2-3{
    width: 15%;
    height: 5%;
    color: white;
    font-size: 8vh;
    position: absolute;
    left: 50vh;
    top: 10vh;
}
/* fim elementos3 */

/* começo elemento 4 */
.conteudo-5-elemento-2-4{
    width: 70%;
    height: 18.2%;
    display: flex;
    position: absolute;
    left: 23%;
    top: 20vh;
    z-index: -1;
}
.conteudo-5-quadrado-2-1{
    background-color: #5A5B77;
    border-radius: 6vh;
    width: 140vh;
    height: 25vh;
}
.conteudo-5-texto-quadrado-2-1{
    color: white;
    font-size: 3.5vh;
    position: absolute;
    left: 3vh;
    right: 59vh;
    top: 5vh;
}
/* fim elemento 4 */
/* fim do conteudo 5-2 */



/* começo do conteudo 5-3 */
/* começo conteudo 5-1 */
.conteudo-5-3{
    position: absolute;
    top: 507vh;
    width: 100%;
    height: 60vh;
}
/* começo elementos 1 */
.conteudo-5-elemento-3-1{
    width: 40%;
    height: 20%;
    position: absolute;
    left: 85vh;
    top: 7vh;
}
.conteudo-5-linhas-3{
    width: 100%;
    height: 100%; 
}
.conteudo5-linha-3-1{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 85%;
    height: 2%;
    background-color: white;
}
.conteudo5-linha-3-2{
    margin-left:30%;
    width: 70%;
    height: 20vh;
    border-radius: 0vh 10vh 0vh 0vh;
    border: 0.5vh solid rgb(255, 255, 255);
    border-bottom: none;
    border-left: none; 
}
/* fim elementos 1 */

/* começo elementos 2 */
.conteudo-5-elemento-3-2{
    width: 30%;
    height: 16%;
    position: absolute;
    left: 10vh;
    top: 10vh;
}
.conteudo-5-imagems-3{
    display: flex;
}
.conteudo-5-imagem-3-1{
    background-color: white;
    width: 18vh;
    height: 24vh;
    border-radius: 3vh;
    border: 1vh solid #ccc;
}
.conteudo-5-decoração-imagem-3-1{
    background-color: #ccc;
    width: 5vh;
    height: 14vh;
    clip-path: polygon(0 0, 20% 20%, 40% 30%, 60% 30%, 80% 20%, 100% 0, 100% 100%, 80% 80%, 60% 70%, 40% 70%, 20% 80%, 0 100%);
    margin-top: 7vh;
}
/* fim elemento2 */
/* começo elementos3 */
.conteudo-5-elemento-3-3{
    width: 15%;
    height: 5%;
    color: white;
    font-size: 8vh;
    position: absolute;
    left: 73vh;
    top: 10vh;
}
/* fim elementos3 */
/* começo elemento 4 */
.conteudo-5-elemento-3-4{
    width: 70%;
    height: 18.2%;
    display: flex;
    position: absolute;
    left: 15vh;
    top: 20vh;
    z-index: -1;
}
.conteudo-5-quadrado-3-1{
    background-color: #5A5B77;
    border-radius: 6vh;
    width: 140vh;
    height: 25vh;
}
.conteudo-5-texto-quadrado-3-1{
    color: white;
    font-size: 3.5vh;
    position: absolute;
    left: 58vh;
    top: 5vh;
}
/* fim elemento 4 */
/* fim  conteudo 5-1 */
/* fim do conteudo 5-3 */
/* fim conteudo 5 */